<div class="row">
  <div class="col-md-2">
    <div class="row" style="padding: 0 5px">
      <div class="col-xs-12" style="max-height: calc(100vh - 90px); overflow-y: auto;">
        <app-table-cards *ngFor="let datatable of tables; let i = index" [datatable]="datatable" [index]="i"></app-table-cards>
      </div>
    </div>
  </div>
  <div class="col-md-10">
    <router-outlet></router-outlet>
    <!-- <app-recipes-detail *ngIf="recipeSelected; else infoText" [selectedRecipe]="recipeSelected"></app-recipes-detail>
    <ng-template #infoText>
      <p>Please Select a Recipe</p>
    </ng-template> -->
  </div>
</div>
